/* -----------------for pie------------------- */



.numbox   {position: relative; behavior: url(js/PIE.htc);} 
a.infobutton2 {position: relative; behavior: url(js/PIE.htc);} 

#pricing-table .header {position: relative; behavior: url(js/PIE.htc);} 
.circle-1 {position: relative; behavior: url(js/PIE.htc);} 
.circle-2 {position: relative; behavior: url(js/PIE.htc);} 
#pricing-table .signup {position: relative; behavior: url(js/PIE.htc);} 





#pricing-table .plan {position: relative; behavior: url(js/PIE.htc);} 
a.link4 {position: relative; behavior: url(js/PIE.htc);} 
a.box-logo img {position: relative; behavior: url(js/PIE.htc);} 